[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pip = "==18.0"
ebooklib = "*"
requests = "*"
networkx = "==2.2"
tqdm = "*"
mwparserfromhell = ">=0.5.2"
colorama = "*"
"beautifulsoup4" = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
